doctype html
html
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Service | Jesus Christ is the Example for Service
		meta(name='KEYWORDS', content='service, jesus christ example for service')
		meta(name='DESCRIPTION', content='The Savior is the best example of service. Even though He came to earth as the Son of God, He humbly served all those around Him.')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		//
			<PageMap>
			<DataObject type='document'><Attribute name='title'>Service Opportunities</Attribute><Attribute name='description'>The Savior is the best example of service. Even though He came to earth as the Son of God, He humbly served all those around Him.</Attribute><Attribute name='subject'>service, jesus christ example for service</Attribute></DataObject>
			</PageMap>
		meta(property='og:title', content='Service | Jesus Christ is the Example for Service')
		meta(property='og:description', content='The Savior is the best example of service. Even though He came to earth as the Son of God, He humbly served all those around Him.')
		meta#og-url(property='og:url', content='https://www.lds.org/topics/service?lang=eng')
		meta#og-image(property='og:image', content='http://www.lds.org/bc/content/ldsorg/content/images/facebook/lds_Fb_defaultThm.jpg')
		meta(property='fb:admins', content='683545112,100001195566656')
		meta(property='og:type', content='non_profit')
		link(rel='shortcut icon', href='//edge.ldscdn.org/images/logos/favicon-lds-1.ico')
		link.pf-fix-me(rel='stylesheet', type='text/css', media='all', href='//edge.ldscdn.org/cdn2/csp/platform/styles/platform4.css')
		link.pf-fix-me(rel='stylesheet', type='text/css', media='all', href='//edge.ldscdn.org/ml/ldsorg/css/common/lds-old.css')
		link.pf-fix-me(rel='stylesheet', type='text/css', media='all', href='//edge.ldscdn.org/ml/ldsorg/css/common/lds-old.css')
		script(type='text/javascript', src='//edge.ldscdn.org/scripts/jquery/1.7.1/jquery.min.js')
		script(src='//edge.ldscdn.org/ml/ldsorg/script/common/lds.js')
		link(rel='canonical', href='https://www.lds.org/topics/service?lang=eng')
		// canvas assets
		link(rel='stylesheet', type='text/css', media='screen', href='//edge.ldscdn.org/ml/ldsorg/css/common/content.css')
		link(rel='stylesheet', type='text/css', media='screen', href='//edge.ldscdn.org/ml/ldsorg/css/common/landing.css')
		link(rel='stylesheet', type='text/css', media='all', href='//edge.ldscdn.org/ml/ldsorg/css/common/modal.css')
  
		
	body.tmpl-service.pf-responsive.narrow.generic-theme.lang-eng
		// classes: narrow, app, fluid, plan-theme, church-theme, study-theme, family-theme, service-theme
		script(type='text/javascript', language='javascript').
			var mapPageTitle = "Unto All the World";
			var origPageTitle = "Service Opportunities";
		#platform
			link(rel='stylesheet', type='text/css', media='all', href='//edge.ldscdn.org/cdn2/common/ldslogo/eng.css')
			a.pf-offscreen(href='Skip main navigation') Skip main navigation
			header.pf-header(role='banner')
				.pf-header__top
					.pf-logo
						a.ldschurch-logotype(href='//www.lds.org/?lang=eng')
							span.ldschurch-logotype__text The Church of Jesus Christ of Latter-day Saints
					nav.pf-nav(role='navigation')
						.pf-top
							ul
								li.pf-language
									a.pf-prefix.pf-icon-globe.pf-popup__trigger(href='#pf-language', aria-haspopup='true', aria-owns='pf-language')
										span.pf-language__country2 Worldwide
										span.pf-language__separator  - 
										span.pf-language__language English
									#pf-language.pf-popup.pf-language__popup
										a.pf-language__country(href='#d')
										.pf-language__select
											a.pf-prefix.pf-icon-location(href='//www.lds.org/countries?lang=eng') Select Country
											a.pf-prefix.pf-icon-language(href='//www.lds.org/languages?lang=eng') English
								li#pf-auth.pf-personal
									a.pf-prefix.pf-icon-signin.pf-popup__trigger(href='#pf-personal-links', aria-haspopup='true', aria-owns='pf-personal-links')
										span.pf-personal__text My Account and Ward
										span#pf-signin.pf-personal__name2  
									#pf-personal-links.pf-popup.pf-personal__popup
										.pf-personal__top
											span.pf-personal__name.pf-prefix.pf-icon-signin  
											a.pf-sign-in(href='#d') Sign In
											a.pf-sign-out(href='#d') Sign Out
										.pf-personal__bottom.pf-popup__cols
											.pf-popup__col
												h4.pf-popup__submenu__heading My Account
												| &#x9;
												ul
													li
														a(href='https://ldsaccount.lds.org?lang=eng', data-omniture='') Account Settings
													li
														a(href='http://familysearch.org/tree', data-omniture='') My Family Tree
													li
														a(href='//www.lds.org/study-tools/folders?lang=eng', data-omniture='') Notes
													li
														a(href='https://apps.lds.org/pbrequest/landing?lang=eng', data-omniture='') Patriarchal Blessing
											.pf-popup__col
												h4.pf-popup__submenu__heading My Ward
												ul
													li
														a(href='//www.lds.org/directory/?lang=eng', data-omniture='') Directory
													li
														a(href='//www.lds.org/church-calendar/?lang=eng', data-omniture='') Calendar
													li
														a(href='https://lds.org/lesson?lang=eng', data-omniture='') Lesson Schedules
													li
														a(href='https://lds.org/member-news?lang=eng', data-omniture='') Newsletter
											.pf-popup__col
												h4.pf-popup__submenu__heading Tools and Support
												ul
													li
														a(href='//www.lds.org/tools?lang=eng', data-omniture='') All Tools
													li
														a(href='//www.lds.org/maps/?lang=eng', data-omniture='') Maps
													li
														a(href='//www.lds.org/mls/mbr/?lang=eng', data-omniture='') Leader and Clerk Resources
													li
														a(href='//www.lds.org/pages/mobileapps?lang=eng', data-omniture='') Mobile Applications
													li
														a(href='//www.lds.org/locations/camping?lang=eng', data-omniture='') Recreation Camps
													li
														a(href='//www.lds.org/help/support?lang=eng', data-omniture='') Help Center
				nav.pf-header__bottom
					.pf-joshua
						h2
							a.pf-joshua__heading.pf-icon-menu.pf-popup__trigger(href='#pf-joshua', aria-haspopup='true', aria-owns='pf-joshua') Site Menu
						ul#pf-joshua.pf-joshua__menus
							li.pf-joshua__menu.pf-1
								h3.pf-joshua__menu__heading
									a.pf-popup__trigger(href='#pf-1', aria-haspopup='true', aria-owns='pf-1') Scriptures
								#pf-1.pf-popup.pf-popup__cols
									.pf-popup__col
										ul
											li
												a(href='//www.lds.org/scriptures/bible?lang=eng', data-omniture='') Holy Bible
											li
												a(href='//www.lds.org/scriptures/bofm?lang=eng', data-omniture='') Book of Mormon
											li
												a(href='//www.lds.org/scriptures/dc-testament?lang=eng', data-omniture='') Doctrine and Covenants
											li
												a(href='//www.lds.org/scriptures/pgp?lang=eng', data-omniture='') Pearl of Great Price
									.pf-popup__col
										ul
											li
												a(href='//www.lds.org/scriptures/new-edition?lang=eng', data-omniture='') 2013 Edition of the Scriptures
											li
												a(href='//www.lds.org/scriptures/study-helps?lang=eng', data-omniture='') Study Helps
											li
												a(href='//www.lds.org/bible-videos?lang=eng', data-omniture='') Bible Videos
											li
												a(href='//www.lds.org/scriptures/formats?lang=eng', data-omniture='') Formats and Downloads
							li.pf-joshua__menu.pf-2
								h3.pf-joshua__menu__heading
									a.pf-popup__trigger(href='#pf-2', aria-haspopup='true', aria-owns='pf-2') Teachings
								#pf-2.pf-popup.pf-popup__cols
									.pf-popup__col
										ul
											li
												a(href='//www.lds.org/prophets-and-apostles/first-presidency-messages?lang=eng', data-omniture='') First Presidency Message
											li
												a(href='//www.lds.org/prophets-and-apostles?lang=eng', data-omniture='') Prophets and Apostles
											li
												a(href='//www.lds.org/general-conference?lang=eng', data-omniture='') General Conference
									.pf-popup__col
										ul
											li
												a(href='//www.lds.org/topics?lang=eng', data-omniture='') Gospel Topics
											li
												a(href='//www.lds.org/daily-messages?lang=eng', data-omniture='') Daily Messages
											li
												a(href='//www.lds.org/broadcasts?lang=eng', data-omniture='') Broadcasts
											li
												a(href='//www.lds.org/church/leaders?lang=eng', data-omniture='') Church Leadership
							li.pf-joshua__menu.pf-3
								h3.pf-joshua__menu__heading
									a.pf-popup__trigger(href='#pf-3', aria-haspopup='true', aria-owns='pf-3') Resources
								#pf-3.pf-popup.pf-popup__cols
									.pf-popup__col
										h4.pf-popup__submenu__heading Family
										ul
											li
												a(href='//www.lds.org/church/temples?lang=eng', data-omniture='') Temples
											li
												a(href='//www.lds.org/topics/family-history?lang=eng', data-omniture='') Family History
											li
												a(href='//www.lds.org/topics/family?lang=eng', data-omniture='') Home and Family
											li
												a(href='//www.lds.org/topics/marriage?lang=eng', data-omniture='') Marriage
											li
												a(href='//www.lds.org/children?lang=eng', data-omniture='') Children
											li
												a(href='//www.lds.org/youth?lang=eng', data-omniture='') Youth
											li
												a(href='//www.lds.org/topics/welfare?lang=eng', data-omniture='') Welfare
											li
												a(href='//www.lds.org/topics/pef-self-reliance?lang=eng', data-omniture='') PEF Self-Reliance
									.pf-popup__col
										h4.pf-popup__submenu__heading Callings
										ul
											li
												a(href='//www.lds.org/callings/leadership-and-teaching?lang=eng', data-omniture='') Leadership and Teaching
											li
												a(href='//www.lds.org/callings/melchizedek-priesthood?lang=eng', data-omniture='') Melchizedek Priesthood
											li
												a(href='//www.lds.org/callings/aaronic-priesthood?lang=eng', data-omniture='') Aaronic Priesthood
											li
												a(href='//www.lds.org/callings/relief-society?lang=eng', data-omniture='') Relief Society
											li
												a(href='//www.lds.org/callings/young-women?lang=eng', data-omniture='') Young Women
											li
												a(href='//www.lds.org/callings/primary?lang=eng', data-omniture='') Primary
											li
												a(href='//www.lds.org/callings/sunday-school?lang=eng', data-omniture='') Sunday School
											li
												a(href='//www.lds.org/callings/missionary?lang=eng', data-omniture='') Missionary
											li
												a(href='//www.lds.org/callings/seminary?lang=eng', data-omniture='') Seminaries and Institutes
											li
												a(href='//www.lds.org/callings?lang=eng', data-omniture='') All Callings
									.pf-popup__col
										h4.pf-popup__submenu__heading General
										ul
											li
												a(href='//www.lds.org/magazines-and-manuals?lang=eng', data-omniture='') Magazines and Manuals
											li
												a(href='//www.lds.org/media-library?lang=eng', data-omniture='') Media Library
											li
												a(href='https://history.lds.org', data-omniture='') Church History
											li
												a(href='//www.lds.org/music?lang=eng', data-omniture='') Music
											li
												a(href='http://store.lds.org', data-omniture='') Order Church Materials
											li
												a(href='//www.lds.org/locations?lang=eng', data-omniture='') Locations and Schedules
											li
												a(href='//www.lds.org/topics/service?lang=eng', data-omniture='') Service Opportunities
											li
												a(href='//www.lds.org/church/share?lang=eng', data-omniture='') Sharing the Gospel
							li.pf-joshua__menu.pf-4
								h3.pf-joshua__menu__heading
									a.pf-popup__trigger(href='#pf-4', aria-haspopup='true', aria-owns='pf-4') News
								#pf-4.pf-popup.pf-popup__cols
									.pf-popup__col
										ul
											li
												a(href='//www.lds.org/church/news?lang=eng', data-omniture='') Church News and Events
											li
												a(href='http://www.mormonnewsroom.org/newsroom-country-sites', data-omniture='') Mormon Newsroom (for News Media)
						// /
					form.pf-search(action='https://www.lds.org/search', method='get', accept-charset='utf-8', role='search')
						input(type='hidden', name='lang', value='eng')
						fieldset
							label.pf-search__label.pf-icon-search(for='pf-global-search')
								span Search
							#pf-search-inputs.pf-search__inputs
								a.pf-search__hider(href='#d')
									span Hide Search
								input#pf-global-search.pf-search__field(type='text', autocomplete='off', placeholder='Search Church sites', name='query')
								input.pf-search__button(type='submit', value='', aria-label='Search')
								.pf-search__where
									a.pf-search__where__current.pf-popup__trigger(href='#pf-search__where__list')  
									ul#pf-search__where__list.pf-search__where__list
			script(type='text/javascript').
				var cdnPath = "//edge.ldscdn.org";




			block content







			
			footer.pf-footer
				.pf-footer__cells
					.pf-footer__cell.pf-footer__maplang.pf-footer__linklist
						ul
							li
								a(href='//www.lds.org/countries?lang=eng')
									| Select a Region
									br
									span.pf-secondary-text Get local news and messages from your area
						a.pf-lang-map(href='//www.lds.org/countries?lang=eng')
							noscript.lazy(data-desktop='//edge.ldscdn.org/cdn2/csp/platform/images/world-map2.png')
								img(src='//edge.ldscdn.org/cdn2/csp/platform/images/world-map2.png', alt='')
					.pf-footer__cell.pf-footer__linklist.pf-footer__site-info
						ul
							li
								a(href='//www.lds.org/help/sitemap?lang=eng', data-omniture='')
									| Site Map
							li.pf-feedback
								a(href='//www.lds.org/tools/feedback/?lang=eng&id=11340&note=lds.org:homepage', data-omniture='')
									| Feedback
							li
								a(href='//www.lds.org/locations?lang=eng', data-omniture='')
									| Locations and Schedules
							li
								a(href='//www.lds.org/help?lang=eng', data-omniture='')
									| Help
							li
								a(href='//www.lds.org/church/employment?lang=eng', data-omniture='')
									| Church Employment
					.pf-footer__cell.pf-footer__linklist.pf-footer__linklist--image.pf-footer__social
						ul
							li
								a.pf-footer__teaser(href='https://www.facebook.com/LDS', data-omniture='')
									figure.pf-footer__teaser__image
										noscript.lazy(data-desktop='https://www.lds.org/services/platform/bc/global-platform/facebook.png', data-alt='Facebook', data-mobile='https://www.lds.org/services/platform/bc/global-platform/facebook.png')
											img(src='https://www.lds.org/services/platform/bc/global-platform/facebook.png', alt='Facebook')
									.pf-footer__teaser__content Facebook
							li
								a.pf-footer__teaser(href='https://twitter.com/ldschurch', data-omniture='')
									figure.pf-footer__teaser__image
										noscript.lazy(data-desktop='https://www.lds.org/services/platform/bc/global-platform/twitter.png', data-alt='Twitter', data-mobile='https://www.lds.org/services/platform/bc/global-platform/twitter.png')
											img(src='https://www.lds.org/services/platform/bc/global-platform/twitter.png', alt='Twitter')
									.pf-footer__teaser__content Twitter
							li
								a.pf-footer__teaser(href='https://plus.google.com/104070354126796687920/posts', data-omniture='')
									figure.pf-footer__teaser__image
										noscript.lazy(data-desktop='https://www.lds.org/services/platform/bc/global-platform/googleplus.png', data-alt='Google+', data-mobile='https://www.lds.org/services/platform/bc/global-platform/googleplus.png')
											img(src='https://www.lds.org/services/platform/bc/global-platform/googleplus.png', alt='Google+')
									.pf-footer__teaser__content Google Plus
							li
								a.pf-footer__teaser(href='http://www.pinterest.com/ldschurch/', data-omniture='')
									figure.pf-footer__teaser__image
										noscript.lazy(data-desktop='https://www.lds.org/services/platform/bc/global-platform/pinterest.png', data-alt='Pinterest', data-mobile='https://www.lds.org/services/platform/bc/global-platform/pinterest.png')
											img(src='https://www.lds.org/services/platform/bc/global-platform/pinterest.png', alt='Pinterest')
									.pf-footer__teaser__content Pinterest
						p
							a.pf-footer__more(href='//www.lds.org/media-library/social?lang=eng') All Church Social Pages
					.pf-footer__cell.pf-footer__linklist.pf-footer__sites
						ul
							li
								a(href='http://www.mormon.org/', data-omniture='')
									| Mormon.org
									br
									span.pf-secondary-text What LDS members believe
							li
								a(href='https://familysearch.org/', data-omniture='')
									| FamilySearch.org
									br
									span.pf-secondary-text Genealogical information and family history
							li
								a(href='http://www.mormonchannel.org/', data-omniture='')
									| MormonChannel.org
									br
									span.pf-secondary-text Uplifting video and audio content
							li
								a(href='http://www.mormonnewsroom.org/', data-omniture='')
									| MormonNewsroom.org
									br
									span.pf-secondary-text For news media
							li
								a(href='http://mormontabernaclechoir.org', data-omniture='')
									| MormonTabernacleChoir.org
									br
									span.pf-secondary-text Mormon Tabernacle Choir recordings, videos, and events
					.pf-footer__cell.pf-footer__linklist.pf-footer__linklist--image
						ul
							li
								a.pf-footer__teaser(href='//www.lds.org/pages/mobileapps?lang=eng', data-omniture='')
									figure.pf-footer__teaser__image
										noscript.lazy(data-desktop='https://www.lds.org/services/platform/bc/global-platform/gospel-library.png', data-alt='Gospel Library Image', data-mobile='https://www.lds.org/services/platform/bc/global-platform/gospel-library.png')
											img(src='https://www.lds.org/services/platform/bc/global-platform/gospel-library.png', alt='Gospel Library Image')
									.pf-footer__teaser__content Gospel Library
							li
								a.pf-footer__teaser(href='//www.lds.org/pages/mobileapps?lang=eng', data-omniture='')
									figure.pf-footer__teaser__image
										noscript.lazy(data-desktop='https://www.lds.org/services/platform/bc/global-platform/mormon-channel.png', data-alt='Mormon Channel Image', data-mobile='https://www.lds.org/services/platform/bc/global-platform/mormon-channel.png')
											img(src='https://www.lds.org/services/platform/bc/global-platform/mormon-channel.png', alt='Mormon Channel Image')
									.pf-footer__teaser__content Mormon Channel
							li
								a.pf-footer__teaser(href='//www.lds.org/pages/mobileapps?lang=eng', data-omniture='')
									figure.pf-footer__teaser__image
										noscript.lazy(data-desktop='https://www.lds.org/services/platform/bc/global-platform/lds-tools.png', data-mobile='https://www.lds.org/services/platform/bc/global-platform/lds-tools.png', data-alt='LDS Tools Image')
											img(src='https://www.lds.org/services/platform/bc/global-platform/lds-tools.png', alt='LDS Tools Image')
									.pf-footer__teaser__content LDS Tools
						p
							a.pf-footer__more(href='//www.lds.org/pages/mobileapps?lang=eng') All Church Mobile Apps
				.pf-footer__legal
					p
						a#rights-url(href='//www.lds.org/legal/terms?lang=eng')
							| Rights and Use Information  (Updated 2/21/2012)
						a#privacy-url(href='//www.lds.org/legal/privacy?lang=eng')
							| Privacy Policy (Updated 3/18/2014)
						br
						#copyright-text &copy; 2015 by Intellectual Reserve, Inc. All rights reserved.

				script(src='//edge.ldscdn.org/cdn2/csp/platform/scripts/platform4.js', data-pf='platformjs')
		// end #platform
		// only scripts below
		script(type='text/javascript', src='//edge.ldscdn.org/ml/ldsorg/script/common/content.js')
		|     
		script(type='text/javascript', src='//edge.ldscdn.org/scripts/jquery/plugins/cycle/jquery.cycle.2.94.min.js')
		|     
		style(type='text/css').
			#feature #carousel li {
			display: block !important;
			}

