doctype html
html
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Service | Jesus Christ is the Example for Service
		meta(name='KEYWORDS', content='service, jesus christ example for service')
		meta(name='DESCRIPTION', content='The Savior is the best example of service. Even though He came to earth as the Son of God, He humbly served all those around Him.')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		//
			<PageMap>
			<DataObject type='document'><Attribute name='title'>Service Opportunities</Attribute><Attribute name='description'>The Savior is the best example of service. Even though He came to earth as the Son of God, He humbly served all those around Him.</Attribute><Attribute name='subject'>service, jesus christ example for service</Attribute></DataObject>
			</PageMap>
		meta(property='og:title', content='Service | Jesus Christ is the Example for Service')
		meta(property='og:description', content='The Savior is the best example of service. Even though He came to earth as the Son of God, He humbly served all those around Him.')
		meta#og-url(property='og:url', content='https://www.lds.org/topics/service?lang=eng')
		meta#og-image(property='og:image', content='http://www.lds.org/bc/content/ldsorg/content/images/facebook/lds_Fb_defaultThm.jpg')
		meta(property='fb:admins', content='683545112,100001195566656')
		meta(property='og:type', content='non_profit')
		link(rel='shortcut icon', href='//edge.ldscdn.org/images/logos/favicon-lds-1.ico')
		link.pf-fix-me(rel='stylesheet', type='text/css', media='all', href='//edge.ldscdn.org/cdn2/csp/platform/styles/platform4.css')
		link.pf-fix-me(rel='stylesheet', type='text/css', media='all', href='//edge.ldscdn.org/ml/ldsorg/css/common/lds-old.css')
		link.pf-fix-me(rel='stylesheet', type='text/css', media='all', href='//edge.ldscdn.org/ml/ldsorg/css/common/lds-old.css')
		script(type='text/javascript', src='//edge.ldscdn.org/scripts/jquery/1.7.1/jquery.min.js')
		script(src='//edge.ldscdn.org/ml/ldsorg/script/common/lds.js')
		link(rel='canonical', href='https://www.lds.org/topics/service?lang=eng')
		// canvas assets
		link(rel='stylesheet', type='text/css', media='screen', href='//edge.ldscdn.org/ml/ldsorg/css/common/content.css')
		link(rel='stylesheet', type='text/css', media='screen', href='//edge.ldscdn.org/ml/ldsorg/css/common/landing.css')
		link(rel='stylesheet', type='text/css', media='all', href='//edge.ldscdn.org/ml/ldsorg/css/common/modal.css')
  
		
	body.tmpl-service.pf-responsive.narrow.generic-theme.lang-eng
		// classes: narrow, app, fluid, plan-theme, church-theme, study-theme, family-theme, service-theme
		script(type='text/javascript', language='javascript').
			var mapPageTitle = "Unto All the World";
			var origPageTitle = "Service Opportunities";
		#platform
			link(rel='stylesheet', type='text/css', media='all', href='//edge.ldscdn.org/cdn2/common/ldslogo/eng.css')
			a.pf-offscreen(href='Skip main navigation') Skip main navigation


			include _church-nav.jade




			block content







			
			footer.pf-footer
				.pf-footer__cells
					.pf-footer__cell.pf-footer__maplang.pf-footer__linklist
						ul
							li
								a(href='//www.lds.org/countries?lang=eng')
									| Select a Region
									br
									span.pf-secondary-text Get local news and messages from your area
						a.pf-lang-map(href='//www.lds.org/countries?lang=eng')
							noscript.lazy(data-desktop='//edge.ldscdn.org/cdn2/csp/platform/images/world-map2.png')
								img(src='//edge.ldscdn.org/cdn2/csp/platform/images/world-map2.png', alt='')
					.pf-footer__cell.pf-footer__linklist.pf-footer__site-info
						ul
							li
								a(href='//www.lds.org/help/sitemap?lang=eng', data-omniture='')
									| Site Map
							li.pf-feedback
								a(href='//www.lds.org/tools/feedback/?lang=eng&id=11340&note=lds.org:homepage', data-omniture='')
									| Feedback
							li
								a(href='//www.lds.org/locations?lang=eng', data-omniture='')
									| Locations and Schedules
							li
								a(href='//www.lds.org/help?lang=eng', data-omniture='')
									| Help
							li
								a(href='//www.lds.org/church/employment?lang=eng', data-omniture='')
									| Church Employment
					.pf-footer__cell.pf-footer__linklist.pf-footer__linklist--image.pf-footer__social
						ul
							li
								a.pf-footer__teaser(href='https://www.facebook.com/LDS', data-omniture='')
									figure.pf-footer__teaser__image
										noscript.lazy(data-desktop='https://www.lds.org/services/platform/bc/global-platform/facebook.png', data-alt='Facebook', data-mobile='https://www.lds.org/services/platform/bc/global-platform/facebook.png')
											img(src='https://www.lds.org/services/platform/bc/global-platform/facebook.png', alt='Facebook')
									.pf-footer__teaser__content Facebook
							li
								a.pf-footer__teaser(href='https://twitter.com/ldschurch', data-omniture='')
									figure.pf-footer__teaser__image
										noscript.lazy(data-desktop='https://www.lds.org/services/platform/bc/global-platform/twitter.png', data-alt='Twitter', data-mobile='https://www.lds.org/services/platform/bc/global-platform/twitter.png')
											img(src='https://www.lds.org/services/platform/bc/global-platform/twitter.png', alt='Twitter')
									.pf-footer__teaser__content Twitter
							li
								a.pf-footer__teaser(href='https://plus.google.com/104070354126796687920/posts', data-omniture='')
									figure.pf-footer__teaser__image
										noscript.lazy(data-desktop='https://www.lds.org/services/platform/bc/global-platform/googleplus.png', data-alt='Google+', data-mobile='https://www.lds.org/services/platform/bc/global-platform/googleplus.png')
											img(src='https://www.lds.org/services/platform/bc/global-platform/googleplus.png', alt='Google+')
									.pf-footer__teaser__content Google Plus
							li
								a.pf-footer__teaser(href='http://www.pinterest.com/ldschurch/', data-omniture='')
									figure.pf-footer__teaser__image
										noscript.lazy(data-desktop='https://www.lds.org/services/platform/bc/global-platform/pinterest.png', data-alt='Pinterest', data-mobile='https://www.lds.org/services/platform/bc/global-platform/pinterest.png')
											img(src='https://www.lds.org/services/platform/bc/global-platform/pinterest.png', alt='Pinterest')
									.pf-footer__teaser__content Pinterest
						p
							a.pf-footer__more(href='//www.lds.org/media-library/social?lang=eng') All Church Social Pages
					.pf-footer__cell.pf-footer__linklist.pf-footer__sites
						ul
							li
								a(href='http://www.mormon.org/', data-omniture='')
									| Mormon.org
									br
									span.pf-secondary-text What LDS members believe
							li
								a(href='https://familysearch.org/', data-omniture='')
									| FamilySearch.org
									br
									span.pf-secondary-text Genealogical information and family history
							li
								a(href='http://www.mormonchannel.org/', data-omniture='')
									| MormonChannel.org
									br
									span.pf-secondary-text Uplifting video and audio content
							li
								a(href='http://www.mormonnewsroom.org/', data-omniture='')
									| MormonNewsroom.org
									br
									span.pf-secondary-text For news media
							li
								a(href='http://mormontabernaclechoir.org', data-omniture='')
									| MormonTabernacleChoir.org
									br
									span.pf-secondary-text Mormon Tabernacle Choir recordings, videos, and events
					.pf-footer__cell.pf-footer__linklist.pf-footer__linklist--image
						ul
							li
								a.pf-footer__teaser(href='//www.lds.org/pages/mobileapps?lang=eng', data-omniture='')
									figure.pf-footer__teaser__image
										noscript.lazy(data-desktop='https://www.lds.org/services/platform/bc/global-platform/gospel-library.png', data-alt='Gospel Library Image', data-mobile='https://www.lds.org/services/platform/bc/global-platform/gospel-library.png')
											img(src='https://www.lds.org/services/platform/bc/global-platform/gospel-library.png', alt='Gospel Library Image')
									.pf-footer__teaser__content Gospel Library
							li
								a.pf-footer__teaser(href='//www.lds.org/pages/mobileapps?lang=eng', data-omniture='')
									figure.pf-footer__teaser__image
										noscript.lazy(data-desktop='https://www.lds.org/services/platform/bc/global-platform/mormon-channel.png', data-alt='Mormon Channel Image', data-mobile='https://www.lds.org/services/platform/bc/global-platform/mormon-channel.png')
											img(src='https://www.lds.org/services/platform/bc/global-platform/mormon-channel.png', alt='Mormon Channel Image')
									.pf-footer__teaser__content Mormon Channel
							li
								a.pf-footer__teaser(href='//www.lds.org/pages/mobileapps?lang=eng', data-omniture='')
									figure.pf-footer__teaser__image
										noscript.lazy(data-desktop='https://www.lds.org/services/platform/bc/global-platform/lds-tools.png', data-mobile='https://www.lds.org/services/platform/bc/global-platform/lds-tools.png', data-alt='LDS Tools Image')
											img(src='https://www.lds.org/services/platform/bc/global-platform/lds-tools.png', alt='LDS Tools Image')
									.pf-footer__teaser__content LDS Tools
						p
							a.pf-footer__more(href='//www.lds.org/pages/mobileapps?lang=eng') All Church Mobile Apps
				.pf-footer__legal
					p
						a#rights-url(href='//www.lds.org/legal/terms?lang=eng')
							| Rights and Use Information  (Updated 2/21/2012)
						a#privacy-url(href='//www.lds.org/legal/privacy?lang=eng')
							| Privacy Policy (Updated 3/18/2014)
						br
						#copyright-text &copy; 2015 by Intellectual Reserve, Inc. All rights reserved.

				script(src='//edge.ldscdn.org/cdn2/csp/platform/scripts/platform4.js', data-pf='platformjs')
		// end #platform
		// only scripts below
		script(type='text/javascript', src='//edge.ldscdn.org/ml/ldsorg/script/common/content.js')
		|     
		script(type='text/javascript', src='//edge.ldscdn.org/scripts/jquery/plugins/cycle/jquery.cycle.2.94.min.js')
		|     
		style(type='text/css').
			#feature #carousel li {
			display: block !important;
			}

